.usersList__preferences{
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 10px;
}
.select{
  padding: 10px;
  border-radius: 5px;
  background-color: black;
}
.input{
  padding: 10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.274);
  flex-grow: 1;
}
.input:focus{
  background-color: rgba(0, 0, 0, 0.092);
}
.createUserLink{
  margin-left: auto;
}

@media screen and (max-width: 1290px) {
  .usersList__preferences{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
  }
  .select{
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }
  .input{
    grid-column: 1 / 3;
    grid-row: 1 / 2;
  }
  .createUserLink{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    margin-left: 0;
  }
  .createBtn{
    width: 100%;
  }
}