.header{
  display: flex;
  padding: 20px 40px;
}
.links{
  display: flex;
  margin-left: auto;
  column-gap: 30px;
}
.link{
  font-size: 1.1rem;
  color: transparent;    
	-webkit-background-clip: text;
	background-clip: text;;
  background-image: linear-gradient(to bottom, red, fuchsia); 
}
.link:hover{
  color:#ffffff4a
}
.active{
  border-bottom: 1px solid #ffffff;
}
.active:hover{
  border-bottom: 1px solid fuchsia;
}
.logo{
  font-size: 1.4rem;
  font-weight: 700;
}
.logo:hover{
  filter: drop-shadow(0 0 3px #ffffff);
}